<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav ml-auto">
        <div class="dropdown">
            <span class="dropdown-toggle" style="color: white" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [title]="currentUser.full_name || ''">
                <span>{{currentUser.email || ''}}</span>
                <img style="margin-left: 10px; width: 32px; max-width: 32px; min-width: 32px; height: 32px; max-height: 32px; min-height: 32px; border: none; border-radius: 5px"
                     [src]="currentUser.avatar">
            </span>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" (click)="selectDropdown(dropdown)" [routerLink]="dropdown.path" *ngFor="let dropdown of dropdowns">{{ dropdown.title }}</a>
            </div>
        </div>
    </div>
</nav>

<!-- main app container -->
<div class="sidenav" *ngIf="currentUser && checkAdmin()">
    <a (click)="selectSidebar(sidebar)" *ngFor="let sidebar of sidebars" [ngClass]="{'sidenav-active': sidebar.active, 'sidenav-disactive': !sidebar.active}">{{ sidebar.title }}</a>
</div>

<div [ngClass]="{main: checkAdmin(), main2: !checkAdmin()}" *ngIf="currentUser">
    <router-outlet></router-outlet>
</div>

<div class="jumbotron" *ngIf="!currentUser">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>